<div class="mb-3">
  <label for="img" class="form-label">Photo</label>
  <input type="img" name="img" class="form-control" id="img">
</div>

<div class="mb-3">
    <label for="name" class="form-label">Potion Name</label>
    <input type="name" name="name" class="form-control" id="name">
</div>

<div class="mb-3">
    <label for="brewTime" class="form-label">Brew Time</label>
    <input type="brewTime" name="brewTime" class="form-control" id="brewTime">
</div>

<div class="mb-3">
    <label for="ingredients" class="form-label">Ingredients</label>
    <textarea class="form-control" name="ingredients" id="ingredients" rows="3"></textarea>
</div>

<div class="mb-3">
  <label for="directions" class="form-label">Directions</label>
  <textarea class="form-control" name="directions" id="directions" rows="3"></textarea>
</div>

<div class="mb-3">
    <label for="notese" class="form-label">Notes</label>
    <textarea class="form-control" name="notes" id="notes" rows="3"></textarea>
</div>

<button type="submit" class="btn btn-primary">Submit</button>


