body {
  
    background-color: #FFFFFF;
     
     font-family: 'Lato', sans-serif;
     font-family: 'Satisfy', cursive;
     
 }
 
 .navbar-brand {
     font-family: 'Satisfy', cursive;
 }
 .nav-link {
     font-family: 'Lato', sans-serif;
 
 }
 .navbar {
    
     background-color: #3D9970 !important;
 
 }

 h1 {
    font-family: 'Satisfy', cursive;
    margin-bottom: 20px !important;
    margin-left: 55px !important;
    font-size: 60px !important;
    margin-top: 20px !important;
 }

 form {
     margin-top: 10px;
     margin-left: 50px;
     margin-right: 50px;
     font-family: 'Lato', sans-serif;
     margin-bottom: 50px;
 }