<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Not Potions</title>

    <h1>Hello there!</h1>

    <a class="nav-link active" href="/notpotions/addpotion">Add a Potion</a>

    <% if (posts.length === 0 ) { %>
        <p>no posts yet</p>
      <% } %> 
    

</head>
<body>
    
</body>
</html>